[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Using Python and Flask developing Website
[access "refs/*"]
	owner = group user/karthik varagini (karthikVaragini)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/karthik varagini (karthikVaragini)
	label-Verified = -1..+1 group user/karthik varagini (karthikVaragini)
	push = group user/karthik varagini (karthikVaragini)
	read = group user/karthik varagini (karthikVaragini)
	rebase = group user/karthik varagini (karthikVaragini)
	removeReviewer = group user/karthik varagini (karthikVaragini)
	submit = group user/karthik varagini (karthikVaragini)
[access "refs/heads/*"]
	create = group user/karthik varagini (karthikVaragini)
	push = +force group user/karthik varagini (karthikVaragini)
	pushMerge = group user/karthik varagini (karthikVaragini)
	read = group user/karthik varagini (karthikVaragini)
[access "refs/tags/*"]
	push = group user/karthik varagini (karthikVaragini)
	push = +force group user/karthik varagini (karthikVaragini)
